* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --white: #fff;
  --black: #1c2b2d;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* -webkit-user-select: none;
  user-select: none; */
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}
